h1{
            font-family: 'Rubik Mono One', sans-serif;
        }
        h2{
            font-family: 'Slabo', serif;
        }
        h3{
            font-family: 'UnifrakturCook', cursive;
        }